// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company-title {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Slabo 27px', serif;

}

#error {
    color: red;
    text-align: center;
}

#new-stock-container {
  width: 100%;
  margin-top: 5%;
}

.new-stock-container {
  color: #262626;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.news {
  position: relative;
  width: 100%;
  margin-top: 3%;
}

#news {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Old Standard TT', serif;
}

.new-stock-form-container {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  justify-content: center;
  background-color: #68be0a;
}

.form-top-title {
  margin: 22px auto 12px;
  justify-content: center;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  color: #fff;
}

.medium-container {
  margin-bottom: 20px;
}

.ticker {
  font-size: 20px;
  font-family: 'Old Standard TT', serif;
}

.stop {
  font-size: 20px;
  font-family: 'Old Standard TT', serif;
}

input[type=number] {
  border: 0px;
  color: black;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  width: 70%;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 30px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.big-title-container {
  background-color: #fff;
  border: 1px solid black;
}

.stockform {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.backbutton {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Old Standard TT', serif;
  color: #fff;
}

.prof{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Old Standard TT', serif;
  color: #fff;
}

#name-container {
    background-repeat: repeat-x;
    background-position: center bottom;
    margin-top: 2%;
}

.name-container {
  position: relative;
  width: 100%;
}

#real-time-price {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  font-family: 'Old Standard TT', serif;
}

.real-time-price {
  position: relative;
  width: 100%;
  margin-top: 1%;
}

.stocktable {
  position: relative;
  width: 100%;
  margin-top: 1%;
}

#stocktable {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Old Standard TT', serif;
}
