// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company-title {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Slabo 27px', serif;

}

#stocktable {
    width: 500px;
    font-size: 1.5em;
    background-color: white;
    color: black;
    margin-left: 4%;
    margin-top: 2%;
    font-family: 'Slabo 27px', serif;

}

.news {
    font-size: 2em;
    margin-top: 2%;
    font-family: 'Slabo 27px', serif;
    margin-left: 4%;

}

.real-time-price {
    margin-left: 4%;
    font-size: 3em;
    font-family: 'Slabo 27px', serif;
    margin-top: 2%;
    
}