// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company-title {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Slabo 27px', serif;

}

#error {
    color: red;
    text-align: center;
}

#stocktable {
    width: 500px;
    font-size: 1em;
    background-color: white;
    color: black;
    margin-left: 4%;
    margin-top: 2%;
    font-family: 'Slabo 27px', serif;
    height: 50px;

}

.news {
    font-size: 2em;
    margin-top: 2%;
    font-family: 'Slabo 27px', serif;
    margin-left: 4%;

}

.real-time-price {
    margin-left: 4%;
    font-size: 3em;
    font-family: 'Slabo 27px', serif;
    margin-top: 2%;
    
}

.stockform {
    width: 300px;
    background-color: #5cd65c;
    text-align: center;
    margin-left: 40%;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    padding-bottom: 2%;
    margin-top: 3%;
    

}

.prof {
    background-color: #5cd65c;
    border: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 78%;
    margin-top: 0.5%;
}

form {
    width: 300px;
    background-color: #5cd65c;
    text-align: center;
    margin-left: 40%;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    padding-bottom: 2%;
    margin-top: 5%;
    position: absolute;
}

.backbutton {
    background-color: #5cd65c;
    border: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 79%;
    position: absolute;
    margin-bottom: 5%;
    margin-top: 0.5%;

}