// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
    width: 1000px;
    margin-left: 17%;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    background-color: #e6e6e6;
}

h2 {
    font-size: 1.5em;
}

.user-title {
    text-align: center;
    font-size: 2em;
    font-family: 'Slabo 27px', serif;
    margin-top: 4%;
}

.link {
    background-color: #5cd65c;
    border: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 17%;

}

.loglink {
    background-color: #5cd65c;
    border: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 79%;
    position: absolute;
    margin-bottom: 5%;
    margin-top: 0.5%;
}

.header {
    background-color: #5cd65c;
}

.userform {
    width: 450px;
    background-color: #5cd65c;  
    text-align: center;
    margin-left: 38%;
    margin-top: 3%;
    font-family: 'Slabo 27px', serif;
    padding-bottom: 2%;
    font-size: 1.5em;
    position: absolute;

}

.button {
    margin-top: 2%;
    
}

.stockbtn {
    background-color: #5cd65c;
}

